<div class="col-12 pb-custom">
	<div class="bg-black p-5">
		<div class="d-flex flex-column justify-content-center mb-4">
			<h1 class="fw-bold mb-3">Start using Ninja.</h1>	
			<p>Whether you're part of a school club, a group of gamers, an international art community, or just a bunch of friends who want to hang out, Ninja is the easiest way to chat every day and get together more often.</p>
		</div>
	</div>
</div>
<div class="col-12 pt-custom">
	<div class="d-flex flex-column justify-content-center mb-4">		
		<div class="bg-black p-5">
			<h1 class="fw-bold mb-3">Join a room.</h1>
			<p>Ninja rooms are organized into topic-based rooms where you can collaborate, share, and simply discuss your day with anyone connected to the room.</p>
		</div>
	</div>
</div>