<section class="container-fluid d-flex justify-content-center bg-black">
	<div class="row row-offcanvas vh-100 align-items-center">
		<form action="/signup" class="form p-5 border-light" method="post">
			<div class="d-flex align-items-center mb-4">		
	      		<h1 class="h3 mx-3 font-weight-bold max-spacing text-uppercase">Ninja</h1>
	      		<hr class="bg-white w-100" />
	      		<img src="static/logo-white.png" alt="" width="72">
	      	</div>
	      	<div class="form-group">
			    <label for="email">Email</label>
			    <input type="text" name="email" class="form-control rounded-0" required="">
			    <small id="emailHelpInline" class="form-text text-muted">
			    	Email must be valid
			    </small>
			</div>
	      	<div class="form-group">
			    <label for="passsword">Password</label>
				<input type="password" name="password" class="form-control rounded-0" required="">
				<small id="passwordHelpBlock" class="form-text text-muted">
					Your password must be 8-20 characters long, contain letters and numbers
				</small>
			</div>
			<div class="form-group">
			    <label for="passsword_check">Repeat Password</label>
				<input type="passsword_check" name="passsword_check" class="form-control rounded-0" required="">
				<small id="passwordHelpBlock" class="form-text text-muted">
					Your password must be identical on both cases
				</small>
			</div>
			<button class="btn btn-lg btn-outline-light btn-block rounded-0 mt-4 font-weight-bold" type="submit">
				Sign up
			</button>
	      	<small class="form-text text-muted"><a href="/signin">You already own an account ? Click here to connect.</a></small>
	    </form>
	</div>
</section>