<div>
	<h5 class="fw-bold mb-3">Start hanging out.</h5>
    <small class="text-muted">Whether you're part of a school club, a group of gamers, an international art community, or just a bunch of friends who want to hang out, Ninja is the easiest way to chat every day and get together more often.</small>
</div>
