{{#if alert}} 
<div class="position-absolute text-uppercase alert alert-red width-inherit alert-dismissible fade show rounded-0 border-0 fw-bolder" role="alert">
	{{alert}}
	<button type="button" class="btn-close fill-white" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}